
.sec2Txt > p {
  margin: 0 1rem .5rem 0;
  color:#fff;
  
}

.sec2Txt span {
  opacity: 0.2;
  font-family: "Aeonik-Regular" !important;
}

.sec2Txt > p:nth-child(1) {
  text-indent: 10rem;
}

.sec2Txt > p:nth-child(9) {
  color: #00ff00;
}

.sec2Txt > p:nth-child(9) span {
  font-family: "Inferi-NormalItalic" !important;
}

.stickyMask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  mask-image: url('/images/main/mask1.svg');
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 100%;
}

.stickyMask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
